.comment.clearfix
	.content
		%p.comment_content= comment.comment
		%p.comment_author
			by
			= comment.user.email
			= time_ago_in_words(comment.created_at)
			ago

	.buttons
		- if user_signed_in? && comment.user_id == current_user.id
			= link_to "Edit", edit_post_comment_path(comment.post, comment)
			= link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: "Are you sure?"}