#post_content
	%h1= @post.title
	%p= @post.content

	#comments
		%h2
			= @post.comments.count
			Comments
		= render @post.comments

		- if user_signed_in?
			%h3 Reply to thread
			= render 'comments/form'
		- else
			%h3.main_header.clearfix
				#buttons_left
					= link_to "Sign in to reply", new_user_session_path

	- if user_signed_in? && @post.user_id == current_user.id
	
		%br
		%hr
		%br

		= link_to "Edit", edit_post_path(@post), class: "button"
		= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?"}, class: "button"